<h1><%=@student[:name]%></h1>

<img src=<%=@student[:picture_url]%>>

<p><%=@student[:description]%></p>
<p><%=@student[:city]%><img src=<http://bit.ly/18rdaZg%></p>

<%= link_to 'Back', all_students_path %>

